{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}

<img src="https://i.imgur.com/aKF5QWR.png" class="logo"></img>
<h3 class="home-title">The perfect place to find company for your next journey.</h3>

<section class="login-form">
    <form action="{% url 'home' %}" method="post" class="login">
        <h1>Login</h1>
        {% csrf_token %} {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn submit">Login</button>
    </form>
</section>

{% endif %}

{% endblock %}

