

{% extends 'base.html' %} 

{% block content %}
<section class="city-container">

<div class="city-details">
    <h1>{{ city.name }}</h1>
    <p>Country: {{ city.country }}</p>
    <p>Description: {{ city.description }}</p>

    <div class="city-actions">
        <a href="{% url 'city-update' city.id %}" class="btn warn">Edit</a>
        <a href="{% url 'city-delete' city.id %}" class="btn danger">Delete</a>
    </div>


    <section class="attractions">

        <div class="subsection-content">
            {% if city.attraction_set.all.count %}
            <table>
                <thead>
                <tr>
                    <th>Attractions</th>
                </tr>
                </thead>
                <tbody>
                    {% for attraction in city.attraction_set.all %}
                <tr>
                    <td>
                        <a href="{% url 'attraction-detail' city.id attraction.id %}">
                            {{attraction.name}}
                        </a>
                    </td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="subsection-content">
                    <p>No added attractions yet!</p>
                </div>
            {% endif %}

        </div>

        <h3>Add an Attraction</h3>

        <form action="" method="post" class="subsection-content" autocomplete="off">
            {% csrf_token %} 
            {{ attraction_form.as_p }}
            <button type="submit" class="btn submit">Add Attraction</button>
        </form>

    </section>

</section>

{% endblock %}